{#
/**
 * @file
 * Template for a menu link and submenu.
 *
 * Available variables:
 * - attributes: TODO
 * - output: TODO
 * - submenu: TODO
 *
 * @see template_preprocess()
 * @see template_preprocess_sitemap_menu_link()
 */
#}

<li {{ attributes }}>{{ output }}{{ sub_menu }}</li>
